{% extends "base.html" %}
{% block title %}Items{% endblock %}
{% block content %}

<form action="" method="post">
<table>
<tr><th>image</th><th>code</th><th>item</th><th>price</th><th>action</th></tr>
<tr><td></td><td><input name="code" size="14"/></td><td><input name="name" size="30"/></td><td><input name="price" size="2"/></td><td><input type="submit" name="add" value="add"/></tr>
{% for item in items %}
<tr><td><img src="/static/items/{{ item.code|safe }}.jpg" width="64" height="64"/></td><td>{{ item.code|safe }}</td><td>{{ item.name|safe }}</td><td>{{ item.price }}</td><td><input type="submit" name="delete:{{ item.code }}" value="delete"/></tr>
{% endfor %}
</table>
</form>

{% endblock %}
